<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hoser Housing</title>    
    <meta name="description" content="Hoser Housing">
    <link rel="icon" type="image/x-icon" href="/static/icons/Comp1800_favicon.svg">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/footer.css">
  </head>

  <body>
    <!-- filters model -->
    <div id="myModal" class="modal">

      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="filters-wrapper">
          <div class="filters-content">
            <label>Max Distance (km)</label>
            <input type="number" placeholder="30km" id="distance" value="">
  
            <label>Max price</label>
            <input type="number" placeholder="$" id="price" value="">
  
            <label>Minimum Bedrooms</label>
            <input type="number" placeholder="min" id="bedrooms" value="">
  
            <label>Minimum Bathrooms</label>
            <input type="number" placeholder="min" id="bathrooms" value="">
  
            <label>Minimum Square feet</label>
            <input type="number" placeholder="min" id="sqft" value="">
  
            <button id="apply" onclick="getListings()" type="submit">Apply</button>
          </div>
        </div>
      </div>

    </div>

    <!-- NavBar -->
    <div class="grid-container">
      <header class="header-container">
        <div class="search">
          <div class="search-bar">
            <input id="search" placeholder="Search housing   " value=""><button onclick="getListings()">Search</button>
          </div>
          <button id="filters" class="filters-btn">
            <p>Filters</p>
            <img src="/static/icons/filter.svg">
          </button>
        </div>
      </header>
      
      <!-- Content -->
      <section class="main">

        <div class="loader-container">
          <div class="loader-flex c">
            <div class="loader-flex r">
              <div class="loader"></div>
            </div>
          </div>
        </div>
        
        <template id="listing-template">
          <div class="listing">
            <a class="listing-link" href="">
              <div class="listing-content">
                <div class="listing-image">
                  <img class="listing-preview" src="https://dummyimage.com/600x450/919191/ededed&text=No+images+found" alt=""/>
                </div>
                <div  class="listing-details">
                  <h3 class="listing-title">Title</h3>
                  <h3 class="listing-location">Location</h3>
                  <p  class="listing-data">$1,000 - 800sqft</p>
                  <p  class="listing-area">big description of house yes</p>
                </div>
              </div>
            </a>
          </div>
        </template>

        <div class="listing-container" id="listings"></div>

      </section>
      
      <!-- Footer -->
      <footer class="footer">
        <div class="footer-links">
          <a href="/dashboard">
            <img src="/static/icons/house-solid.svg">
          </a>
          <a href="/dashboard/favourites">
            <img src="/static/icons/heart.svg">
          </a>
          <a href="/dashboard/profile">
            <img src="/static/icons/profile.svg">
          </a>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/static/scripts/auth/firebase_config.js"></script>
    <script src="/static/scripts/auth/forwardAuth.js"></script>
    <script src="/static/scripts/api/loadListingsArray.js"></script>

    <!-- filters modal popul -->
    <script>
      let modal = document.getElementById("myModal");
      let btn = document.getElementById("filters");
      let span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
        modal.style.display = "block";
      }

      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = (event) => {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      } 
    </script>
  </body>
</html>