<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hoser Housing</title>
    <meta name="comp1800 template" content="My 1800 App">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />
    <script src="https://kit.fontawesome.com/3d06b711de.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/dashboard.css">
  </head>

  <body>
    <div class="grid-container">
      <header class="header-container">
        <form class="search">
          <div class="search-bar">
            <input placeholder="Search by Location e.g. Vancouver   "><button>Search</button>
          </div>
          <a href="/dashboard/filters">
            <p>Filters</p>
            <i class="fa-solid fa-gear"></i>
          </a>
        </form>
      </header>
      
      <section class="main">
        <div class="main-container">
          <div class="map">
            <iframe 
              width="374" 
              height="440" 
              frameborder="0" 
              scrolling="no" 
              marginheight="0" 
              marginwidth="0" 
              id="gmap_canvas" 
              src="https://maps.google.com/maps?hl=en&amp;q=%20Burnaby&amp;output=embed">
            </iframe>
          </div>
          <div class="sub-map">

          </div>
        </div>
      </section>
  
      <footer class="footer">
        <div class="footer-links">
          <a href="/dashboard">
            <img src="/static/icons/house-solid.svg">
          </a>
          <a href="/dashboard/favourites">
            <img src="/static/icons/heart.svg">
          </a>
          <a href="/dashboard/profile">
            <img src="/static/icons/profile.svg">
          </a>
        </div>
      </footer>
    </div>

    <script src="/static/scripts/firebaseAPI_TEAM32.js"></script>
    <script src="/static/scripts/logout.js"></script>
  </body>
</html>
