<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Hoser Housing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body id="Page">

    <!-- navbar -->
    <nav class="NavBar">
      <div class="NavBarLeft">
        <img src="/static/images/Comp1800_logo(no text).png" class="Logo">
        <h1 style="overflow-y:hidden;" class="Title">Hoser Housing</h1>
      </div>

      <div class="links">
        <a href="/users/login" class="NavBarItems">
          LOGIN
        </a>
        <a href="#" class="NavBarItems">
          ABOUT
        </a>
      </div>
    </nav>
    
    <!-- main landing page -->
    <div class="main">
      <div class="image-box">

        <div class="image-wrap">
          <img src="/static/images/Background_2.jpg" alt="background" width="1560px" height="700px">
        </div>

        <div class="main-content">
          <div class="details-box">
            <h2>Canadian"s Housing Locator</h2>
            <p>Hoser Housing is the solution to find you the best housing based on your needs such as transit, ideal locations, etc.</p>
            <a class="join-btn" style="text-decoration: none;color:#FEDEB8;" href="/users/login">Get Searching!</a>
          </div>
        </div>

      </div>
    </div>

	  <!-- footer -->
		<footer class="Footer">
      About
    </footer>

	</body>
</html>