<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hoser Housing</title>    
    <meta name="description" content="Hoser Housing">
    <link rel="icon" type="image/x-icon" href="/static/icons/Comp1800_favicon.svg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!------------------------------------------>
    <!--          Bootstrap Library           -->
    <!------------------------------------------>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

    <!-------------------------------------------------------->
    <!--                 Firebase 8 Library                 -->
    <!-------------------------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />

    <!-- MapBoxGL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css' rel='stylesheet' />

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/listing.css">
    <link rel="stylesheet" href="/static/css/footer.css">
  </head>

  <body>
    <!-- Navbar -->
    <div class="grid-container">
      <header class="header-container">
        <a class="back-btn" href="/dashboard">Back</a>
      </header>
      
      <!-- Content -->
      <section class="main">
      
        <div class="listing-container" id="listings">
        
          <!-- <template id="listing-template"> -->
            <div class="listing">
              <div class="listing-content">
                <div class="listing-header">

                  <div class="listing-header-left">
                    <h2 class="listing-title">Title</h2>
                    <h2 class="listing-location">Location</h2>
                  </div>

                  <div class="listing-header-right">
                    <div>
                      <div>
                        <a href="#" title="favourite" id="favourite">
                          <img id="heart" src="/static/icons/heart.svg">
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="listing-image">

                  <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <template id="image-card-template">
                      <div class="mySlides">
                        <div class="numbertext">1 / 3</div>
                        <img class="image" src="https://dummyimage.com/600x450/919191/ededed&text=No+images+found" style="width:100%">
                      </div>
                    </template>
                  
                  </div>  
                  <!-- Next and previous buttons -->
                  <div class="image-control">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>

                  <div class="map">
                    <div id='map' style='width: 400px; height: 300px;'></div>
                  </div>

                </div>

                <div class="listing-details">

                  <div class="listing-details-right">
                    <h3 class="listing-data">$dollars - feet</h3>
                    <h3 class="listing-data-1"></h3>
                    <a class="original-listing">View original</a>
                  </div>
                  <div class="listing-details-left">
                    <p class="listing-description">big description of house yes</p>
                  </div>

                </div>
              </div>
            </div>
          <!-- </template> -->

        </div>

      </section>
      
      <!-- Footer -->
      <footer class="footer">
        <div class="footer-links">
          <a href="/dashboard">
            <img src="/static/icons/house-solid.svg">
          </a>
          <a href="/dashboard/favourites">
            <img src="/static/icons/heart.svg">
          </a>
          <a href="/dashboard/profile">
            <img src="/static/icons/profile.svg">
          </a>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/static/scripts/api/loadMap.js"></script>
    <script src="/static/scripts/auth/firebase_config.js"></script>
    <script src="/static/scripts/auth/forwardAuth.js"></script>
    <script src="/static/scripts/images.js"></script>
    <script src="/static/scripts/api/loadListing.js"></script>
    <script src="/static/scripts/favourites/saveFavourite.js"></script>

  </body>
</html>
