<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hoser Housing</title>
    <meta name="comp1800 template" content="My 1800 App">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />

    <link rel="stylesheet" href="/static/css/profile.css">
  </head>

  <body>
    <div id="header">
    <a onclick="logout()" href="/login">Logout</a>
    </div>
    <!--<div id="profContent">
    <img src="https://dummyimage.com/600x400/000/fff&text=placeholder" alt="profile picture">
    <span id="name-goes-here"></span>
    <span id="email"></span>
    <span id="address-goes-here">13475 96 ave, Surrey BC</span>
  </div>-->
  <div class="container">
    <h1>User Profile </h1>
    <form>
        <fieldset class="mb-3" id="personalInfoFields" disabled>
            <div class="form-group">
                <label >Name</label>
                <input type="text" id="nameInput" class="form-control" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label >E-mail</label>
                <input type="text" id="email" class="form-control" placeholder="Enter your E-mail">
            </div>
            <div class="form-group">
                <label >City</label>
                <input type="text" id="cityInput" class="form-control" placeholder="Enter your city">
            </div>
        </fieldset>
        <div class="d-flex justify-content-end mt-5">
            <button type="button" class="btn btn-secondary" onclick="editUserInfo()">Edit</button>
            <span style="width: 10px"></span>
            <button type="button" class="btn btn-info" onclick="saveUserInfo()">Save</button>
        </div>
    </form>
</div>

    <footer class="footer">
      <div class="footer-links">
        <a href="/dashboard">
          <img src="/static/icons/house.svg">
        </a>
        <a href="/dashboard/favourites">
          <img src="/static/icons/heart.svg">
        </a>
        <a href="/dashboard/profile">
          <img src="/static/icons/profile-solid.svg">
        </a>
      </div>
    </footer>

    <script src="/static/scripts/firebase_config.js"></script>
    <script src="/static/scripts/authentication.js"></script>
    <script src="/static/scripts/profile.js"></script>
  </body>
</html>
