@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&display=swap");
@media screen and (min-width: 961px) {

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald","Bebas Neue", sans-serif;
    text-decoration: none;
    /* overflow-x: hidden; */
    }

    #Page {
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    }

    .cover {
        position: relative;
    }

    /*** Header ***/
    .header {
        grid-column: 1, 2;
        grid-row: 1, 2;     
        background-color: #D20001;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 10vh;
        justify-content: left;
    }
    .logo {
        max-width: 100%;
    }
    .titlebox {
        /* background-color: #E64B0A; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Title {
        color: #FEDEB8;
        font-family: "Bebas Neue";
        font-size: 4em;
        margin: 0px 0px 0px 10px ;
   
    }

    /*** NavBar ***/
    .NavBar {
    grid-column: 1, 2;
    grid-row: 1, 2;
    position: absolute;
    top: 1%;
    right: 1%;
    /* background-color: #E64B0A; */
    display: flex;
    flex-direction: row;
    }
    .NavBarItemsBox {
        margin: 0px 5px 0px 5px ;
    }
    .NavBarItems {
        color: #FEDEB8;
        font-family: "Bebas Neue";
        font-size: 3em;
        text-decoration: none;
        margin: 0px 5px 0px 5px ;
    }

    /*** Content ***/
    .main {
    grid-column: 1, 2;
    grid-row: 2, 3;
    }

    .image-wrap {
    filter: brightness(70%);
    position: fixed;
    }

    .login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }

    #firebaseui-auth-container {
    width: 250pt;
    }

    .main-content {
    position: absolute;
    transform: translate(-25%, -50%);
    background-color: #D20001;
    top: 50%;
    left: 25%;
    width: 40%;
    padding: 10pt 24pt 10pt 24pt ;
    border-radius: 12pt;
    }

    .details-box {
    color: #FEDEB8;
    }

    .details-box h2 {
    font-size: 2.5em;
    font-family: "Bebas Neue" ;
    letter-spacing: 1.5px;
    margin: 0;
    }

    .details-box p {
    font-family: arial;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    }

    .join-btn {
    display: inline-block;
    border: 2px solid #FEDEB8;
    border-radius: 6px;
    padding: 11px 40px;
    margin-top: 25px;
    transition: 0.8s all;
    background-color: transparent;
    color: #FEDEB8;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    }

    .join-btn:hover {
    background-color: #E64B0A;
    }

    /*** Footer ***/
   
}