@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&display=swap");
@media screen and (min-width: 961px) {

    * {
      margin: 0pt;
      padding: 0pt;
      box-sizing: border-box;
      font-family: "Oswald","Bebas Neue", sans-serif;
      text-decoration: none;
      /* overflow-x: hidden; */
    }

    #Page {
      background-color: #800020;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
    }

    .cover {
        position: relative;
    }

    /*** Header ***/
    .header {

      background-color: #D20001;
      display: flex;
      flex-direction: row;
      width: 100vw;
      height: 10vh;
      justify-content: space-between;
    }
    .logo {
      max-width: 100%;
    }

    .search_bar_box {
      /* background-color: #E64B0A; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 460px;
    }

    .search_bar {
      /* background-color: #E64B0A; */
      display: flex;
      flex-direction: row;
      height: 50px;
    }

    .search {
      /* background-color: #E64B0A; */
      display: flex;
      flex-direction: row;
      
    }

    #Search_input {
      background-color: white;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border: 0px;
      padding: 0px 10px 0px 0px;
      text-align: right;
      width: 300px;
    }

    .search button {
      background-color: gainsboro;
      border: 0px;
      padding: 0px 10px 0px 10px;
    }

    #Filter {
      background-color: #FEDEB8;
      display: flex;
      flex-direction: row;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 0px;
      width: 100%;
    }

    #Filter p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 0px 0px 10px;
      padding: 0px 0px 0px 0px;
    }

    #Filter img {
      scale: 60%;
      margin: 0px;
      padding: 0px;
    }

    .logout_box {
      /* background-color: #E64B0A; */
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .logout {
      background-color: white;
      height: 50px;
      padding: 0px 30px 0px 30px;
      margin-right: 20px;
      border-radius: 30px;
      border: 0px;
    }

    .logout a {
      text-decoration: none;
      color: #000;
    }

    /*** NavBar ***/
    .NavBar {
      position: absolute;
      top: 0%;
      left: 5%;
      background-color: transparent;
      height: 100%;
    }
    .NavBar img {
      height: 100%;
      scale: 100%;
      margin: 0% 2% 0% 2% ;
      padding: 5% 0% 5% 0%;
    }
    .NavBar a {
      text-decoration: none;
    }

    /*** Content ***/
    .main {
      grid-area: main;
      padding: 24pt;
    }

    .listing-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .listing {
      min-height: 175pt;
      width: 100%;
      background-color: #FEDEB8;
      border-radius: 6pt;
      margin-bottom: 16pt;
    }

    .listing-content {
      display: flex;
      flex-direction: row;
    }

    .listing-title {
      overflow: hidden;
      font-family: "Bebas Neue";
    }

    .listing-image img {
      margin: 12pt;
      height: 151pt;
      width: 125pt;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .listing-details {
      margin: 12pt;
    }

    .listing a{
      text-decoration: none;
      color: #000;
    }

    /*** Footer ***/

    /*** filters modal ***/
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /*** filters modal ***/
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding: 5% 25% 5% 25%; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 0px 0px 0px 0px;
      border: 1% solid #888;
      width: 100%;
      height: 100%;
      position: relative;
    }

    /*** The Close Button ***/
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 40px;
      font-weight: bold;
      padding-left: 20px;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .filters-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .filters-content {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .filters-content button {
      width: 20%;
    }

    .filters-content input {
      margin-bottom: 12pt;
    }

    /*** Loader ***/
    .loader-container {
      margin: -24pt;
      width: 100vw;
      height: 80vh;
    }

    .loader-flex {
      display: flex;
      justify-content: center;
    }

    .c {
      height: 80vh;
      flex-direction: column;
    }

    .r {
      flex-direction: row;
    }

    .loader {
      border: 16px solid #8a8a8a; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
}
