@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0pt;
  padding: 0pt;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #808D8E;
}

.grid-container {
  display: grid;
  grid-template-areas:
      'header header'
      'main main'
      'footer footer';
  grid-template-columns: 1fr 3fr;
  padding: 0pt;
  margin: 0pt;
  width: 100%;
  height: 100%;
}

/*** NavBar ***/
.header-container {
  grid-area: header;
  background-color: #851e21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  margin-bottom: 0px;
}

/*** Content ***/
.main {
  height: 100%;
  width: 100%;
  grid-area: main;
  padding: 0px 0px 0px 0px;
}

.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 0% 0% 25% 0%;
  padding: 0% 5% 0% 5%;
}

.listing {
  height: 350px;
  width: 100%;
  background-color: #C1C1C1;
  border-radius: 15px;
  margin-top: 5%;
}

.listing a {
  text-decoration: none;
  color: black;
}

.listing-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5% 0% 0% 0%;
}

.listing-image img {
  width: 90%;
  max-height: 150px;
  margin: 0px;
  border-radius: 10px;
  object-fit: cover;
}

.listing-title {
  overflow-y: hidden;
  margin: 10px 15px 0px 15px;
}

.listing-details {
  overflow: hidden;
}

.listing-details h3 {
  overflow: hidden;
}

.remove-box {
  display: flex;
  flex-direction: row-reverse;
}

.quick-remove {
  background-color: white;
  border: 0px;
  border-radius: 10px;
  padding: 1% 5% 1% 5%;
  margin: 0% 5% 0% 5%;
}

.loader-container {
  width: 100vw;
  height: 80vh;
}

.loader-flex {
  display: flex;
  justify-content: center;
}

.c {
  height: 80vh;
  flex-direction: column;
}

.r {
  flex-direction: row;
}

.loader {
  border: 16px solid gainsboro; /* Light grey */
  border-top: 16px solid skyblue; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#message-container {
  display: none;
  text-align: center;
  margin-top: 25%;
}