@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@media screen and (min-width: 961px) {

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
    }

    /*** NavBar ***/
    #header {
    background-color:#bbb;
    bottom: 99%;
    display: block;
    padding: 2pt;
    }

    /*** Content ***/
    #favContent {
    display: flexbox;
    }

    .favHouse {
    display: flex;
    margin: 1%;
    background-color: #bbb;
    }

    .favHouse > img {
    top: 10%;
    width: 25%;
    height: 25%;
    left: 37%;
    right: 33%;

    }

    /*** Footer ***/
    .footer {
    /* grid-area: footer; */
    background-color: #bbb;
    width: 100%;
    height: 128pt;
    bottom: 0%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .footer-links {
    height: 80%;
    display: flex;
    justify-content: space-between;
    }

    .footer a {
    width: 30%;
    height: 100%;
    position: relative;
    }

    .footer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    color: black;
    }

}