/*** Footer ***/
.footer {
  grid-area: footer;
  background-color: #d20008;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  position: fixed;
  bottom: 0%;
}

.footer-links {
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.footer a {
  width: 30%;
  height: 100%;
  position: relative;
}

.footer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
  /* filter: invert(0.9); */
}
