@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0pt;
  padding: 0pt;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  padding: 0pt;
  margin: 0pt;
  width: 100%;
  height: 100%;
}

/*** NavBar ***/
.header-container {
  grid-area: header;
  background-color: #bbb;
  height: 64pt;
  border-radius: 0pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0pt;
  position: fixed;
  width: 100vw;
}

.back-btn {
  margin-left: 24pt;
}

/*** main body ***/
.main {
  grid-area: main;
  width: 100vw;
  height: 100%;
  padding: 4%;
}

.listing-title, .listing-location {
  overflow: hidden;
}

.listing-container {
  margin-top: 60pt;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.listing {
  width: 100%;
  height: 75%;
  background-color: #cecece;
  border-radius: 6pt;
  padding: 28pt;
}

.listing-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing-header {
  display: flex;
  justify-content: space-between;
}

.listing-header-right img {
  margin-right: 24pt;
}

.listing-header-left {
  max-width: 85%;
}

.listing-image {
  width: 100%;
  margin: 12pt;
  margin-left: 0pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing-image-left {
  background-color: #a5a5a5;
  width: 60%;
  height: 440px;
  display: flex;
  justify-content: center;  
}

.listing-image img {
  object-fit: cover;
  height: 100%;
}

.listing-details {
  display: flex;
  justify-content: space-between;
}

.listing-details-left {
  width: 60%;
}

.listing-details-right {
  width: 30%;
}

.map {
  margin: 12pt;
  margin-top: 0pt;
}
