@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@media screen and (min-width: 961px) {   

    * {
    margin: 0pt;
    padding: 0pt;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
    }

    body {
    width: 100vw;
    height: 100vh;
    }

    .grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    /* grid-column-gap: 10pt; */
    padding: 0pt;
    margin: 0pt;
    width: 100%;
    height: 100%;
    }

    /*** NavBar ***/
    .header-container {
    grid-area: header;
    background-color: #bbb;
    height: 64pt;
    border-radius: 0pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0pt;
    position: fixed;
    width: 100vw;
    }

    .search {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-left: 12pt;
    margin-right: 12pt;
    }

    .search-bar {
    margin: 0pt;
    padding: 0pt;
    width: 100%;
    }

    .search-bar input {
    height: 32pt;
    min-width: 160pt;
    width: 60%;
    border-top-left-radius: 32pt;
    border-bottom-left-radius: 32pt;
    border: none;
    text-align: right;
    font-size: 16px;
    }

    .search-bar button {
    width: 64pt;
    height: 32pt;
    border-radius: 0pt;
    border: none;
    border-top-right-radius: 32pt;
    border-bottom-right-radius: 32pt;
    font-size: 16px;
    }

    .search a {
    width: 96pt;
    height: 32pt;
    border-radius: 32pt;
    background-color: #dadada;
    position: relative
    }

    .search a p {
    text-decoration: none;
    color: black;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 25%;
    transform: translate(-25%, -48%);
    font-weight: 500;
    }

    .search a i {
    color: black;
    position: absolute;
    top: 48%;
    right: 25%;
    transform: translate(25%, -48%);
    }

    /*** Content ***/
    .main {
    /* grid-area: main; */
    width: 100vw;
    height: 100vh;
    padding: 4%;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    }

    /* 
    .main-container {
    background-color: #bbb;
    width: 80%;
    max-width: 560pt;
    height: 60%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    border-radius: 8pt;
    }

    .map iframe {
    width: 100%;
    } */

    .listing-container {
    margin-top: 60pt;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

    .listing {
    width: 100%;
    height: 75%;
    background-color: #dadada;
    border-radius: 6pt;
    /* margin: 16pt; */
    padding: 28pt;
    }

    .listing-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .listing-image {
    width: 100%;
    margin: 12pt;
    margin-left: 0pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .listing-image-left {
    width: 60%;
    }

    .listing-image img {
    width: 100%;
    /* height: auto; */
    object-fit: fill;
    max-width: 500pt;
    }

    .listing-details {
    display: flex;
    justify-content: space-between;
    }

    .listing-details-left {
    width: 60%;
    }

    .listing-details-right {
    width: 30%;
    }

    .map {
    width: 30%;
    }

    /*** Footer ***/
    .footer {
    grid-area: footer;
    background-color: #bbb;
    width: 100%;
    height: 128pt;
    bottom: 0%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .footer-links {
    height: 80%;
    display: flex;
    justify-content: space-between;
    }

    .footer a {
    width: 30%;
    height: 100%;
    position: relative;
    }

    .footer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    color: black;
    }
}