@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&display=swap");
@media screen and (min-width: 961px) {

  * {
    margin: 0pt;
    padding: 0pt;
    box-sizing: border-box;
    font-family: "Oswald","Bebas Neue", sans-serif;
    text-decoration: none;
    /* overflow-x: hidden; */
  }

  body {
    width: 100vw;
    height: 100vh;
  }

  #Page {
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }

  .cover {
    position: relative;
  }

  /*** Header ***/
  .header {

    background-color: #D20001;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
  }
  .logo {
    max-width: 100%;
  }

  .search_bar_box {
    /* background-color: #E64B0A; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
  }

  .search_bar {
    /* background-color: #E64B0A; */
    display: flex;
    flex-direction: row;
    height: 50px;
  }

  .search {
    /* background-color: #E64B0A; */
    display: flex;
    flex-direction: row;
    
  }

  #Search_input {
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0px;
    padding: 0px 10px 0px 0px;
    text-align: right;
    width: 300px;
  }

  .search button {
    background-color: gainsboro;
    border: 0px;
    padding: 0px 10px 0px 10px;
  }

  #Filter {
    background-color: #FEDEB8;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0px;
    width: 100%;
  }

  #Filter p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
  }

  #Filter img {
    scale: 60%;
    margin: 0px;
    padding: 0px;
  }

  .logout_box {
    /* background-color: #E64B0A; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logout {
    background-color: white;
    height: 50px;
    padding: 0px 30px 0px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0px;
  }

  .logout a {
    text-decoration: none;
    color: #000;
  }

  /*** NavBar ***/
  .NavBar {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #D20001;
  }
  .NavBar img {
    max-height: 100%;
    scale: 90%;
    margin: 0px 2px 0px 2px ;
  }
  .NavBar a {
    text-decoration: none;
  }

  /*** Content ***/
  .main {
    grid-area: main;
    padding: 24pt;
  }

  .listing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .listing {
    min-height: 175pt;
    width: 100%;
    background-color: #c4c4c4;
    border-radius: 6pt;
    margin-bottom: 16pt;
  }

  .listing-content {
    display: flex;
    flex-direction: row;
  }

  .listing-title {
    overflow: hidden;
  }

  .listing-image img {
    margin: 12pt;
    height: 151pt;
    width: 125pt;
    object-fit: cover;
  }

  .listing-details {
    margin: 12pt;
  }

    /*** Content ***/
    .main {
      width: 100vw;
      height: 100%;
      padding: 4%;
    }

    .listing-title, .listing-location {
      overflow: hidden;
    }

    .listing-container {
      margin-top: 60pt;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .listing {
      width: 100%;
      height: 75%;
      background-color: #cecece;
      border-radius: 6pt;
      padding: 28pt;
    }

    .listing-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .listing-header {
      display: flex;
      justify-content: space-between;
    }

    .listing-header-right img {
      margin-right: 24pt;
    }

    .listing-header-left {
      max-width: 85%;
    }

    .listing-image {
      width: 100%;
      margin: 12pt;
      margin-left: 0pt;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .listing-image-left {
      background-color: #a5a5a5;
      width: 60%;
      height: 440px;
      display: flex;
      justify-content: center;  
    }

    .listing-image img {
      object-fit: cover;
      height: 100%;
    }

    .listing-details {
      display: flex;
      justify-content: space-between;
    }

    .listing-details-left {
      width: 60%;
    }

    .listing-details-right {
      width: 30%;
    }

    .map {
      margin: 12pt;
      margin-top: 0pt;
    }

    /*** Footer ***/
}
