@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #808D8E;
}

.grid-container {
  display: grid;
  grid-template-areas:
      'header header'
      'main main'
      'footer footer';
  grid-template-columns: 1fr 3fr;
  padding: 0pt;
  margin: 0pt;
  width: 100%;
  height: 100%;
}

/*** NavBar ***/

/*** NavBar ***/
.header-container {
  grid-area: header;
  background-color: #851e21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  margin-bottom: 0px;
  padding: 0pt;
}

.back-wrapper {
  width: 50%;
  margin-right: 5%;
  margin-top: 7%;
  padding: 0%;
}

.nav-content {
  height: 100%;
  padding: 12pt;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.nav-content {
  align-items: center;
}

.nav-content div {
  margin-top: 0pt;
  padding: 0pt;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logout {
  width: 50%;
  margin-left: 50%;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  background: white;
}

.logo-simple {
  margin-top: 7%;
  margin-left: 5%;
  width: 50%;
}

.logo-simple img {
  width: 42px;
  height: auto;
  filter: brightness(100);
}

/*** Content ***/
.container {
  grid-area: main;
  padding: 5% 5% 0% 5%;
}

.container h1 {
  overflow: hidden;
}

.form-group label {
  margin: 0px;
  border: 0px;
  padding: 5% 0% 0% 0%;
}

.form-control {
  margin: 0px;
  border: 0px;
  border-radius: 10px;
}

.btn-secondary {
  background-color: gainsboro;
  border: 0px;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}
.btn-info {
  background-color: gainsboro;
  border: 0px;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}

.footer {
  position: fixed;
  bottom: 0%;
}